<!DOCTYPE HTML>
<html>
<head>
  <title> Fairytale Generator </title>
  <meta charset="utf-8">

<link rel="icon" href="static/logo2.png" type="image/vnd.microsoft.icon">
<link href="static/about.css" rel="stylesheet" type="text/css">

</head>

<body>
  <div id="header">
    <ul id="navbar">
      <li><a href="/home"> HOME</a></li>
      <li><a href="/about"> ABOUT</a></li>
      <li><a href="/contact"> CONTACT</a></li>
    </ul>
  </div>


<h1> About this Project </h1>

<div id="about">
<h2> You think all fairytales are the same? Always some king's son, a princess and an ugly old witch?
Then 'Fairytale Gone Bad' is your generator for pointless, absurd and meaningless fairytales.
Whenever you hit that beautiful "Generate" button it will automatically generate some funny little fairytale, each with a different degree of sense.</br><h2>

<p> 'Fairytale Gone Bad' is a generative piece of literature based on a long list of fairytals, including 'The Frog King', 'Cinderella', 'Puss in Boots' or 'The Ugly Duckling'.
  If you are interested in seeing the full list of used fairytales, you can view it over the button at the end of the page.</p>

<p> As a generator, 'Fairytale Gone Bad' belongs to the field of artificial or computer generated art. The basis of this generator is the concept of Markov Chain, which is a method from probability theory. In this case, it is a Markov model on words which identifies how likely it is that one word follows the last word or words.</p>


<p> This generator and the website are my final project
 for the seminar Automation, Representation, Transmission at Leuphana University.</br>
</p>

<p> If you want to see the list of used fairytales or my research documentation, click the buttons.</p>
</div>

<div id="links">
<a class="button1" href="https://drive.google.com/file/d/0B2IcLepjR2g-QXdRc2JoajdGeDA/view?usp=sharing" target="_blank"> See List of Fairytales</a>

<a class="button2" href="https://drive.google.com/file/d/0B2IcLepjR2g-aWN1VTFEZnVtQW8/view?usp=sharing" target="_blank"> See Research Documentation</a>
</div>


<iframe width="560" height="315" src="https://www.youtube.com/embed/3IrgdbRTzNI" frameborder="1" allowfullscreen></iframe>

<h4>This video explains the idea and the background of the project.</h4>

<h5>A.R.T.</h5>
<h6>© 2017 - Automation, Representation, Transmission</h6>

</body>

</html>
