<!DOCTYPE HTML>
<html>
<head>
  <title> Fairytale Generator </title>
  <meta charset="utf-8">

<link href="style1.css" rel="stylesheet" type="text/css">


</head>


<body>

  <div id="header">
    <ul id="navbar">
      <li><a href="/home"> HOME</a></li>
      <li><a href="/about"> ABOUT</a></li>
      <li><a href="/contact"> CONTACT</a></li>
    </ul>
  </div>

<img src="fairytale-003.jpg" alt="Fairytale Background" height=auto width=90%/>

<button
  OnClick="loaction.href='/home'"> Generate New Fairytale</button>

</body>
</html>



SAVE FOR LATER
<div id="button">
  <a href="/home"> Generate New Fairytale</a>
</div>

<form action='/home'>
<input style="border-radius: 10px height: 200px; width: 200px;" type='submit' value='Generate New Fairytale' >
</form>


div>a{
  background-color: rgba(176, 94, 214, 0.75);
  text-decoration: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

form{
  padding: 20px 32px;
  text-align: center;
}
