<!DOCTYPE HTML>
<html>
<head>
  <title> Fairytale Generator </title>
  <meta charset="utf-8">

<link href="static/style.css" rel="stylesheet" type="text/css"> 


</head>

<body>
  <div id="header">
<!--  <div id="logo">
    <img src="logo2.png" height=80px width=auto />
  </div> -->
    <ul id="navbar">
      <li><a href="/home"> HOME</a></li>
      <li><a href="/about"> ABOUT</a></li>
      <li><a href="/contact"> CONTACT</a></li>
    </ul>
  </div>

  <!--
<div id="header">
 <nav id="navbar">
    <a href="/home"> HOME </a>
    <a href="/about"> ABOUT </a>
    <a href="/contact"> CONTACT </a>
  </nav>
</div> -->

<img src="static/fairytale-003.jpg" alt="Fairytale Background" height=auto width=90%/>

  {% block bodycontent %}
  <p> Empty Layout </p>
  {% endblock %}



</body>
</html>
