<!DOCTYPE HTML>
<html>
<head>
  <title> Fairytale Generator </title>
  <meta charset="utf-8">

<link href="static/style1.css" rel="stylesheet" type="text/css">

</head>

<body>
  <div id="header">
    <ul id="navbar">
      <li><a href="/home"> HOME</a></li>
      <li><a href="/about"> ABOUT</a></li>
      <li><a href="/contact"> CONTACT</a></li>
    </ul>
  </div>

<h1> Fairytale Gone Bad </h1>

<!--
<div id="bild" style="background">
<img src="static/fairytale-003.jpg" alt="Fairytale Background" height=auto width=100% text-align=center/>
</div> -->

<div id="text">
  <p>{{ text }}</p>
</div>


<div>
  <a href="/home" class="button">Generate New Fairytale</a>
</div>


<h2>A.R.T.</h2>
<h3>© 2017 - Automation, Representation, Transmission</h3>

</body>
</html>
