<!DOCTYPE HTML>
<html>
<head>
  <title> Fairytale Generator </title>
  <meta charset="utf-8">

<link rel="icon" href="static/logo2.png" type="image/vnd.microsoft.icon">
<link href="static/welcome.css" rel="stylesheet" type="text/css">

<style>
#bild{
background: url(static/bg.png) no-repeat center top transparent;
width: 900px;
height: 563px;
}


</style>
</head>

<body>
  <div id="header">
    <ul id="navbar">
      <li><a href="/home"> HOME</a></li>
      <li><a href="/about"> ABOUT</a></li>
      <li><a href="/contact"> CONTACT</a></li>
    </ul>
  </div>

<h1> Fairytale Gone Bad </h1>

<h2> Welcome! On this website you can generate funny fairytales.</br>
  To do so, just click the button below! Have fun :)</h2>


  <div id="bild">
    <!-- <img src="static/fairytale-003.jpg" alt="Fairytale Background" height=auto width=100% text-align=center/> -->
  </div>



<div>
  <a href="/home" class="button">Generate New Fairytale</a>
</div>

<h3>A.R.T.</h3>
<h4>© 2017 - Automation, Representation, Transmission</h4>

</body>
</html>
